In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("top_all.csv")

In [3]:
df.head()

,Price,BHK,beds,baths,balcony,covered-parking,Carpet Area,Developer,Project,Floor,Transaction type,Status,Lifts,Address,Furnishing,Flooring,Water Availability,Status of Electricity
0,₹6.0 Cr,3,3Beds,3Baths,NaN,1 Covered Parking,2300,DLF Ltd.,DLF One Midtown,NaN,New Property,Under Construction,2.0,"Moti Nagar, New Delhi - West, Delhi NCR",Semi-Furnished,Vitrified,24 Hours Available,No/Rare Powercut
1,₹4.75 Cr,3,3Beds,5Baths,NaN,2 Covered Parking,2250,Indus Home,Luxury Builder Floor,NaN,New Property,Ready to Move,NaN,"GK II, New Delhi - South, Delhi NCR",Semi-Furnished,NaN,24 Hours Available,No/Rare Powercut
2,₹4.50 Cr,3,3Beds,4Baths,NaN,1 Covered Parking,1872,Metro Buildtech,Premium Builder Floor,NaN,New Property,Ready to Move,NaN,"GK I, New Delhi - South, Delhi NCR",Semi-Furnished,"Vitrified, Wooden, Marble",24 Hours Available,No/Rare Powercut
3,₹1.70 Cr,3,3Beds,2Baths,4Balconies,1 Covered Parking,1450,Cooperative Group Housing Society,Nishat Apartment,3 (Out of 10 Floors),Resale,Ready to Move,2.0,"Dwarka Sector 19, New Delhi, Sector 19 Dwarka,...",Furnished,Marble,24 Hours Available,No/Rare Powercut
4,₹75.0 Lac,3,3Beds,3Baths,1Balcony,1 Covered Parking,1350,Delhi Development Authority DDA,DDA Freedom Fighter Enclave,3 (Out of 5 Floors),New Property,Ready to Move,NaN,"Freedom Fighter Enclave Saket New Delhi, Saket...",Semi-Furnished,"Vitrified, Ceramic Tiles",24 Hours Available,No/Rare Powercut

In [5]:
df.shape

(986, 18)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Price                  986 non-null    object
 1   BHK                    986 non-null    object
 2   beds                   986 non-null    object
 3   baths                  921 non-null    object
 4   balcony                715 non-null    object
 5   covered-parking        341 non-null    object
 6   Carpet Area            986 non-null    object
 7   Developer              307 non-null    object
 8   Project                357 non-null    object
 9   Floor                  972 non-null    object
 10  Transaction type       986 non-null    object
 11  Status                 927 non-null    object
 12  Lifts                  112 non-null    float64
 13  Address                986 non-null    object
 14  Furnishing             984 non-null    object
 15  Flooring               724 non-null    object
 16  Water Availability     579 non-null    object
 17  Status of Electricity  583 non-null    object
dtypes: float64(1), object(17)
memory usage: 138.8+ KB

In [23]:
df["Price"]

0        ₹6.0 Cr
1       ₹4.75 Cr
2       ₹4.50 Cr
3       ₹1.70 Cr
4      ₹75.0 Lac
         ...
981    ₹85.0 Lac
982    ₹32.0 Lac
983     ₹2.50 Cr
984    ₹50.0 Lac
985     ₹2.25 Cr
Name: Price, Length: 986, dtype: object

In [25]:
Price_Updated = []
for i in df["Price"]:
    i = i.replace("₹","")
    if "Cr" in i:
        i = i.replace("Cr", "* 10000000")
    if "Lac" in i:
        i = i.replace("Lac", "* 100000")
    i = i.split("*")
    float_i_0 = float(i[0])
    int_i_1 = int(i[-1])
    mul = round(float_i_0 * int_i_1)
    Price_Updated.append(mul)
df["Price_Updated"] = Price_Updated

In [26]:
df.head()

,Price,BHK,beds,baths,balcony,covered-parking,Carpet Area,Developer,Project,Floor,Transaction type,Status,Lifts,Address,Furnishing,Flooring,Water Availability,Status of Electricity,Price_Updated
0,₹6.0 Cr,3,3Beds,3Baths,NaN,1 Covered Parking,2300,DLF Ltd.,DLF One Midtown,NaN,New Property,Under Construction,2.0,"Moti Nagar, New Delhi - West, Delhi NCR",Semi-Furnished,Vitrified,24 Hours Available,No/Rare Powercut,60000000
1,₹4.75 Cr,3,3Beds,5Baths,NaN,2 Covered Parking,2250,Indus Home,Luxury Builder Floor,NaN,New Property,Ready to Move,NaN,"GK II, New Delhi - South, Delhi NCR",Semi-Furnished,NaN,24 Hours Available,No/Rare Powercut,47500000
2,₹4.50 Cr,3,3Beds,4Baths,NaN,1 Covered Parking,1872,Metro Buildtech,Premium Builder Floor,NaN,New Property,Ready to Move,NaN,"GK I, New Delhi - South, Delhi NCR",Semi-Furnished,"Vitrified, Wooden, Marble",24 Hours Available,No/Rare Powercut,45000000
3,₹1.70 Cr,3,3Beds,2Baths,4Balconies,1 Covered Parking,1450,Cooperative Group Housing Society,Nishat Apartment,3 (Out of 10 Floors),Resale,Ready to Move,2.0,"Dwarka Sector 19, New Delhi, Sector 19 Dwarka,...",Furnished,Marble,24 Hours Available,No/Rare Powercut,17000000
4,₹75.0 Lac,3,3Beds,3Baths,1Balcony,1 Covered Parking,1350,Delhi Development Authority DDA,DDA Freedom Fighter Enclave,3 (Out of 5 Floors),New Property,Ready to Move,NaN,"Freedom Fighter Enclave Saket New Delhi, Saket...",Semi-Furnished,"Vitrified, Ceramic Tiles",24 Hours Available,No/Rare Powercut,7500000

In [30]:
df["BHK"].value_counts()

3                  447
2                  263
3                  156
2                   44
 1000 Sq-ft  2       5
 1600 Sq-ft  3       4
 1800 Sq-ft  3       4
 800 Sq-ft  2        3
 1000 Sq-ft  3       3
 550 Sq-ft  2        3
 1200 Sq-ft  3       2
 2200 Sq-ft  3       2
 1100 Sq-ft  3       2
 100 Sq-yrd  3       2
 1400 Sq-ft  3       2
 1500 Sq-ft  3       2
 1550 Sq-ft  3       2
 900 Sq-ft  2        2
 630 Sq-ft  2        2
 91 Sq-m  2          1
 1100 Sq-ft  2       1
 1850 Sq-ft  3       1
 1900 Sq-ft  3       1
 68 Sq-yrd  2        1
 445 Sq-ft  2        1
 725 Sq-ft  2        1
 1160 Sq-ft  2       1
 990 Sq-ft  2        1
 675 Sq-ft  3        1
 1035 Sq-ft  3       1
 1728 Sq-ft  3       1
 900 Sq-ft  3        1
 1500 Sq-ft  2       1
 810 Sq-ft  3        1
 1350 Sq-ft  3       1
 1150 Sq-ft  3       1
 1300 Sq-ft  3       1
 620 Sq-ft  2        1
 1300 Sq-ft  2       1
 320 Sq-yrd  3       1
 500 Sq-ft  2        1
 750 Sq-ft  2        1
 600 Sq-ft  2        1
 2000 Sq-ft  3       1
 1748 Sq-ft  3       1
 648 Sq-ft  2        1
 680 Sq-ft  3        1
 1200 Sq-ft  2       1
 855 Sq-ft  2        1
 2100 Sq-ft  3       1
 650 Sq-ft  2        1
 90 Sq-yrd  3        1
 135 Sq-yrd  3       1
 950 Sq-ft  2        1
 150 Sq-ft  2        1
Name: BHK, dtype: int64